@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}


<h2>Welcome!</h2>
<p>This is just a demo page.</p>

@*{{chatHub.count}}*@

<a href="" ng-click="hello()" >Hello</a>

<ul>
    <li ng-repeat="message in chatHub.messages track by $index">{{message}}</li>
</ul>




