@{
    PageData["title"] = "AngularJS SPA Template for Visual Studio";
}

<div class="row">

    <div class="col-sm-9">
        @*<h2>Welcome!</h2>*@

        @*<app-version></app-version>*@


        <ul class="user-msg-list">
            <li class="userMsg" ng-repeat="message in chatHub.messages track by $index">
                <span class="userName">{{message.userName}}</span>
                <span class="message">{{message.messageText}}</span>

            </li>
        </ul>

        <input type="text" class="user-input" ng-model="message" ui-keypress="{13:'sendMsg($event)'}" />

    </div>

    <div class="col-sm-3">
        <ul>
            <li ng-repeat="user in chatHub.users track by $index">{{user.userName}}</li>
        </ul>
    </div>

</div>



